@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.woff") format("woff");
}
